<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <!--Login-and-sign-up-form -->
  <div class="form">

    <!-- login -->
    <div class="login-form">
      <!-- cancel btn -->
      <a href="javascript:void(0);" class="form-cancel">
        <i class="fas fa-times"></i>
      </a>
      <!-- Heading -->
      <strong>Log In</strong>
      <form action="">
        <input type="email" placeholder="Example@gmail.com" name="email">
        <input type="password" placeholder="Example@gmail.com" name="email">
        <!-- submit-btn -->
        <input type="submit" value="Log In">
      </form>
      <!-- forget-and-sign-up-btn -->
      <div class="form-btns">
        <a href="#" class="forget">Forget Your Password?</a>
        <a href="javascript:void(0);" class="sign-up-btn">Create Account</a>
      </div>

    </div>


    <!-- Sign-up -->
    <div class="sign-up-form">
      <!-- cancel btn -->
      <a href="javascript:void(0);" class="form-cancel">
        <i class="fas fa-times"></i>
      </a>
      <!-- Heading -->
      <strong>Sign Up</strong>
      <form action="">
        <input type="text" placeholder="Full Name" name="fullname">
        <input type="email" placeholder="Example@gmail.com" name="email">
        <input type="password" placeholder="Example@gmail.com" name="email">
        <!-- submit-btn -->
        <input type="submit" value="Sign Up">
      </form>
      <!-- forget-and-sign-up-btn -->
      <div class="form-btns">
        <a href="javascript:void(0);" class="already-account">Already Have Account?</a>
      </div>

    </div>
  </div>
</body>
</html>