<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- Search-bar------------------ -->
  <div class="search-bar">
    <!-- search-input -->
    <div class="search-input">
      <!-- input -->
      <form th:action="@{/greens/product/page/1}">
        <input type="hidden" name="sortField" value="name">
        <input type="hidden" name="sortDir" th:value="${sortDir}">
        <input type="text" name="keyword" th:value="${keyword}" placeholder="Search For Product">
        <!-- <input type="hidden" name="id"> -->
      </form>
      <!-- cancel-btn -->
      <a href="javascript:void(0);" class="search-cancel">
        <i class="fas fa-times"></i>
      </a>
    </div>
  </div>
</body>

</html>