<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/site/layout/index :: dynamic(~{::main})}">

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>

<body>
    <main>


        <!-- Single product details  -->
        <div class="small_container single-product">
            <div class="_row" >
                <div class="col_12">
                    <h2>Đổi Mật Khẩu</h2>
                </div>
                <div class="col_12">
                   
                    <form th:action="@{/greens/reset_password}" method="POST">
                        <input type="hidden" name="token" th:value="${token}">
                        <p>We will be sending the reset password  link to yout email</p>
                        <p>[[${error}]]</p>
                        <p>[[${message}]]</p>
                        <div>
                            <span>New Password</span>
                            <input type="password" name="password" id="password" required autofocus placeholder="Enter your new password"  style="width: 100%;">

                            <!--     <input style="width: 100%;" th:field="*{customer.customerId}" type="text"> -->
                        </div>
                        <div>
                            <span>New Password</span>
                            <input type="password" oninput="checkPasswordMatch(this);" name="confirmPassword" id="confirmPassword" required autofocus placeholder="Enter your new password"  style="width: 100%;">

                            <!--     <input style="width: 100%;" th:field="*{customer.customerId}" type="text"> -->
                        </div>
                        
                        <div>

                            <input type="submit" 
                                value="Xác nhận" style="width: 100%;" >

                            <!--     <input style="width: 100%;" th:field="*{customer.customerId}" type="text"> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <script type="text/javascript">
            function checkPasswordMatch(fieldConfirmPassword){
                if(fieldConfirmPassword.value != $("#password").val()){
                    fieldConfirmPassword.setCustomValidity("Passwords do not match")
                }else{
                    fieldConfirmPassword.setCustomValidity("")
                }
            }
        </script>
    </main>

</body>

</html>