<div class="form_editor">
    <form method="post" enctype="multipart/form-data">
      <div class="card">
        <!-- <div class="card-header">
           <h5 th:text="${product.isEdit == true ?'Cập Nhập Sảm Phẩm':'Thêm Mới Sản Phẩm'}"></h5>
                      <span th:if="@{message} != null">[[${message}]]</span> 
        </div> -->
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="productId">Mã Loại</label>
                <input type="text" ng-model="form.id" id="productId" class="form-control" placeholder="orderId" 
                  aria-describedby="helpId">

              </div>
  
              <div class="form-group">
                <label for="form.name">Tên Loại</label>
                <input ng-model="form.name" type="text" class="form-control" id="name" aria-describedby="namehelp"
                  placeholder="Name...">
                <small>Vui lòng nhập tên sản phẩm</small>
              </div>  
            </div>
            <div class="col-6">
              <!-- <script>
                function chooseFile(fileInput){
                  if(fileInput.files && fileInput.files[0]){
                    var reader = new FileReader();
  
                    reader.onload = function(e){
                      $('#image').attr('src' , e.target.result);
                    }
                    reader.readAsDataURL(fileInput.files[0]);
                  }
                }
              </script> -->
              <label for="image">
                <img class="img-fluid" width="100%" ng-src="/images/{{form.image}} " >
              
              </label>
              <div class="form-group">
               
                <label for="">Hình Ảnh:</label>
                <input type="file"  id="image" onchange="angular.element(this).scope().imageChanged(this.files)"
                  class="form-control"  >
                <small id="imageHelp" class="form-text text-muted">Help text</small>
                <!-- //	<input type="hidden" name="imageFile" th:value="${product.image}"> -->
              </div>
  
  
            </div>
  
            
          </div>
        </div>
        <div class="card-footer text-muted ">
          <div style="float: right;">
            <button class="btn "  ng-click="create()" type="button">Lưu</button>
            <button class="btn " ng-click="update()"  type="button">Cập Nhập</button>
            <button class="btn "  ng-click="delete(form)" type="button">Xoa</button>
            <button class="btn " ng-click="reset()"type="button">New</button>
            <a class="btn btn-outline-info">Danh Sách Sản Phẩm</a>
          </div>
        </div>
      </div>
  
    </form>
  </div>