<div class="text">
    <div class="logo_name"> <i class="fa fa-bar-chart" aria-hidden="true"></i> Thống Kê</div>

</div>
<!-- <header>
            <h1>
                <label for="">
                    <i class="fa fa-bars" id="btn" aria-hidden="true"></i>
                </label>
                Dashboard
            </h1>
            <div class="search_wrapper">
                <span class="fa fa-bars" id="btn" aria-hidden="true"></span>
                <input type="search" placeholder="Search here" />
            </div>

            <div class="user_wrapper">
                <img src="" alt="">
                <div>
                    <h4>Jone Doe</h4>
                    <small>SuperAdmin</small>
                </div>
            </div>
        </header> -->

<main>
    <div class="cards">

        <div class="card_single">
            <div>
                <h1 ng-bind="count"></h1>
                <span>Khách Hàng</span>
            </div>
            <div>
                <span class="fa fa-user-o" aria-hidden="true"></span>
            </div>
        </div>
        <div class="card_single">
            <div>
                <h1 ng-bind="countProduct"></h1>
                <span>Sản Phẩm</span>
            </div>
            <div>
                <span class="fa fa-product-hunt" aria-hidden="true"></span>
            </div>
        </div>
        <div class="card_single">
            <div>
                <h1 ng-bind="countOrder">22</h1>
                <span>Đơn Hàng</span>
            </div>
            <div>
                <span class="fa fa-cart-arrow-down" aria-hidden="true"></span>
            </div>
        </div>
        <div class="card_single">
            <div>
                <h1 ng-bind="amountMonth | currency:''">$9k</h1>
                <span>Doanh Thu</span>
            </div>
            <div>
                <span class="fa " id="btn" aria-hidden="true"> .đ</span>
            </div>
        </div>
    </div>


    <div class="recent_flex">
        <div class="projects">
            <div class="card">
                <div class="card-header">
                    <h3>Lịch Sử Bản Hàng</h3>
                    <input ng-init="getDateStart" ng-model="getDateStart" id="start" type="date">
                    <input type="date" ng-init="getDateEnd" ng-model="getDateEnd" id="end">
                    <button ng-click="getOrderDetailBetweenDate()">Xem <span class="fa fa-bars" id="btn"
                            aria-hidden="true"></span></button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <td>Mã Đơn</td>
                                    <td>Khách Hàng</td>
                                   
                                    <td>Sản Phẩm</td>
                                    <td>Số Lượng</td>
                                    <td>Thành Tiền</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show="!orderDetails.length">
                                    <td colspan="5">Không có dữ liệu</td>



                                </tr>
                                <tr ng-show="orderDetails.length "
                                    ng-repeat="item in orderDetails | orderBy : 'order.createDate' : true">
                                    <td>{{item.order.id}}</td>
                                    <td>{{item.account.fullname}}</td>
                                    <!-- <td>{{item.order.createDate | date:' HH:mm:ss'}}</td> -->
                                    <td>{{item.product.name}}</td>
                                    <td>{{item.quantity}}</td>
                                    <td>{{item.price | number}}</td>
                                    <!-- <td>{{item.sumAmount}}</td> -->
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer " style="text-align: right;">
                    <h4>Tổng Doanh Thu: <b>{{sumAmountByDate | number}}.đ</b></h4>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-header">
                    <h3>Biểu đồ doanh thu</h3>
                </div>
                <div class="card-body" style="display: flex;flex-direction: column;">
                    <div style="width: 100%; height: 500px;" id="AreaChart"></div>
                   <div style="display: flex; justify-content: center;">
                    <div style="width: 50%;" id="piechart_3d"></div>
                    <div style="width: 50%;" id="barchart_div"></div>
                   </div>
                    
                </div>
                


            </div>
        </div>



        <div class="customers">
            <div class="card">
                <div class="card-header">
                    <h3>Top Sản Phẩm</h3>
                    <button>Xem <span class="fa fa-bars" id="btn" aria-hidden="true"></span></button>
                </div>
                <div class="card-body">
                    <div class="customer" ng-repeat="item in topPoduct">
                        <div class="info">
                            <img ng-src="/images/{{item.product.image}}" height="40px" width="40px" alt="">
                            <div>
                                <h4>{{item.product.name}}</h4>
                                <small>Lượt mua: {{item.sumOrder}}</small>
                            </div>
                        </div>
                        <div class="contact">
                            <span class="fa fa-bars" id="btn" aria-hidden="true"></span>
                            <span class="fa fa-bars" id="btn" aria-hidden="true"></span>
                            <span class="fa fa-bars" id="btn" aria-hidden="true"></span>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</main>